<!-- <h1 *ngIf="dataFromChild">
  {{ dataFromChild.name + ' ' + dataFromChild.gender }}
</h1> -->
<!-- <h1 #h1Variable></h1> -->
<div class="foprm-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search By Name"
    [(ngModel)]="searchTerm"
  />
</div>
<!-- <div class="form-group">
  <button class="btn btn-primary my-3" (click)="changeEmployeeName()">
    Change Employee Name
  </button>
</div> -->
<!-- <div
  *ngFor="let employee of filteredEmployees"
  (click)="h1Variable.innerHTML = childComponent.getEmployeeNameAndGender()" class="my-3"
> -->
<div *ngFor="let employee of filteredEmployees" class="my-3">
  <!-- <div (click)="onClick(employee.id)" class="pointerCursor my-3"> </div>-->
  <app-display-employee
    [employee]="employee"
    [searchTerm]="searchTerm"
    #childComponent
    (notifyDelete)="onDeleteNotification($event)"
  ></app-display-employee>
</div>

<div class="my-3" *ngIf="error">
  <h1> {{ error }} </h1> 
</div>

<!-- 
<button (click)="nextEmployee()" class="btn btn-primary">
  View Next Employee
</button>
<br> <br>
<app-display-employee [employee]="employeeToDisplay"></app-display-employee> -->

<!-- <app-display-employee [employee]="employeeToDisplay" [employeeId]="employeeToDisplay.id"></app-display-employee> -->

<!-- <app-display-employee [employee]="employee"  (notify)="handleNotify($event)"></app-display-employee> -->
